body
{
    font-family: 'Fascinate Inline', cursive;

    font-size:30px;

    text-align:center;
    
    color:gold;
    
    background-image:url(https://d26oc3sg82pgk3.cloudfront.net/files/media/edit/image/2170/article_full%401x.jpg);}
    .rapper
{
    font-size:25px;
    
    margin-top:30px;}
.nba 
    {
        width:400px;}
.yb
    {
        width:350px;}
.movie
    {
        width:400px;}